name: Build & Publish Docker
on:
  push:
    branches:
      - 'dev/**'

jobs:
  docker-multiarch:
    runs-on: ubuntu-latest
    permissions: write-all

    steps:
    - name: Install Python3   
      uses: actions/setup-python@v6
      with:
        python-version: '3.11'
        architecture: 'x64'

    - name: Checkout
      uses: actions/checkout@v5
      with:
        submodules: true
        fetch-depth: 0

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_LOGIN }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push multi-architecture Docker image
      run: python build.py --multiarch
      env:
        DOCKER_REPO: ${{ secrets.DOCKER_REPO }} 
        DOCKER_LOGIN: ${{ secrets.DOCKER_LOGIN }} 
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }} 